@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
  /* font */
  --font-inter: Inter, sans-serif;

  /* Dark mode colors */
  --color-dark-900: #f2f2fc;
  --color-dark-100: #fdf9ff;
  --color-dark-50: #e8dfec;
  --color-primary: #fa5b0f;
  --color-secondary-900: #302e4d;
  --color-secondary-700: #504e70;

  /* container */
  --container-max-width: 1280px;
  --container-padding: 1rem;
  --container-padding-sm: 3rem;
}

html.dark {
  --color-dark-900: #0d1117; /* nền chính - rất tối */
  --color-dark-100: #161b22; /* nền phụ - sidebar, section */
  --color-dark-50: #21262d; /* nền nổi bật - card, modal */

  --color-primary: #e96a2b;
  --color-secondary-900: #c9d1d9; /* màu chữ chính - nhẹ nhàng */
  --color-secondary-700: #8b949e; /* màu chữ phụ - mô tả, phụ đề */
}
@layer base {
  html {
    scroll-behavior: smooth;
    font-family: var(--font-inter);
  }
}
/* auto default */
@utility container {
  margin-inline: auto;
  width: 100%;
  max-width: var(--container-max-width);
  padding-inline: var(--container-padding);

  @sm {
    padding-inline: var(--container-padding-sm);
  }
}

/* custom */
.custom-slider .slick-slide {
  @apply scale-90 opacity-60 transition-all duration-300;
}

.custom-slider .slick-center {
  @apply scale-100 opacity-100 z-10;
}
